*{
    top: 0;
    left: 0;
}
body{
    display: flex;
    flex-direction: row;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.layer{
    background: transparent ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 05s;
}
.layer:hover{
    background: whitesmoke;
}



