<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>About</title>
</head>
<body>
    <section id="header">
        <nav id="navbar">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>
                    
                </ul>
            </div>


        <div class="hom" data-aos="fade-up">
            <h1>ABOUT US</h1>
            <div class="h-text">
                <a href="base.html">HOME</a>  >
            <H2>ABOUT US</H2>
            </div>
            
        </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section id="About">
        <div class="aboutimg1" data-aos="fade-right">
            <img src="../static/BIGLOGO.png" alt="">
        </div>

        <div class="abouttext" data-aos="fade-left">
            <h2>ABOUT PRIVACYCONTROL</h2>
            <BR></BR>
            <h1>PRIVACYCONTROL IS YOUR SOLUTION</h1>
            <br>
            <p>PRIVACYCONTROL is a Web-Application which is build for the users to prevent CyberBreach Attacks. These Web-Application is developed to aware the users about CyberBreach Attacks and thus how to prevent those CyberBreach Attacks.</p>
            <br><p>According to CYBINT 95% of CyberSecurity Breaches are caused by Human Errors</p>
            <br><br>
            <span>The Application contains various methods and services to prevent CyberBreach Attacks. The Application contains various applications such as PASSWORD MANAGER, QR CODE, PASSWORD GENERATOR, PASSWORD STRENGTH-CHECKER. As well as the Application contains various pages that Enlight the users about todays CyberBreach Attacks and prevention method.
            </span>
            <br><br><br><br>
            <!-- <a href="about.html"><button>READ MORE</button></a> -->
            <p>BELOW ARE SOME MORE INFORMATION</p>
        </div>
        
    </section>

    <section>
        <div class="about-text" data-aos="fade-up">
            <div class="about-text1" data-aos="fade-up">
                <p>Today we all knows that we are in Technological era, the ERA of INTERNET</p>
                <br>
                <p>In today's world 83.72% o population uses smartphone, and half of these population people also uses other devices connected to internet Laptops and Computers</p>
            </div>
            <div class="about-text2" data-aos="fade-up">
                <p>Using Internet on these Devices the people access various things like Websites, Apps and many more things were they have risks about their DATA HACKING and PASSWORDS and all.</p>
                <br>
                <p>These Project is based on how to PREVENT those RISKS.</p>
            </div>
        </div>

    </section>
    <section id="Contact">
        
        <div class="c-head" data-aos="fade-up">

            <h1>PrivacyControl</h1>
        </div>
        <div class="c1" data-aos="fade-up">
            <h2>An Immersive Security Experience</h2>
        </div>
        <hr>
        <div class="table" data-aos="fade-up">
            <div class="table1">
                <h3>Contact</h3>
                <ul>
                    <li>skfarzaan36@gmail.com</li>
                    <li>Phone: 8080851626</li>
                    <li>500 Terry Francois St</li>
                    <li>San Francisco, CA 94158</li>
                </ul>
            </div>
            <div class="table2">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="base.html"></a>Home</li>
                    <li><a href="about.html"></a>About</li>
                    <li><a href="service.html"></a>Services</li>
                    <li><a href="pages.html"></a>Pages</li>
                    <li><a href="contact.html"></a>Contact</li>
                    <li><a href="#"></a>Privacy Policy</li>
                    <li><a href="#"></a>Terms & Condition</li>
                </ul>
            </div>
            <div class="table3">
                <h3>Social</h3>
                <ul>
                    <li><a href="#Discord"></a>Discord</li>
                    <li><a href="#Twitch"></a>Twitch</li>
                    <li><a href="#Facebook"></a>FAcebook</li>
                    <li><a href="#Youtube"></a>Youtube</li>
                    <li><a href="#Twitter"></a>Twitter</li>
                    <li><a href="#LinkedIn"></a>LinkedIn</li>
                </ul>
            </div>
            <div class="table4">
                <h3>Find Us On</h3>
                <ul>
                    <li><a href="#playstore"></a>Playstore</li>
                    <li><a href="#playstore"></a>google</li>
                </ul>
            </div>
        </div>
        <hr>
       
    </section>
    <div class="bottom" style="background-color: #181818; text-align: center; color: white;">
        &copy; All Rights Reserved. Created by @skfarzaan
    </div>
</body>
</html>