<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2d">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <div class="hom" data-aos="fade-up">
                <h1>DATA PHISSING</h1>
                <div class="h-text">
                    <a href="base.html">HOME</a> >
                    <H2>DATA PHISSING</H2>
                </div>

            </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section>
        <div class="cyber">
            <h1>What Is Phishing?</h1>
            <p>Phishing attacks are the practice of sending fraudulent communications that appear to come from a reputable source. It is usually done through email. The goal is to steal sensitive data like credit card and login information, or to install malware on the victim’s machine. Phishing is a common type of cyber attack that everyone should learn about in order to protect themselves.</p>

    
            <h1>How does phishing work?</h1>
            <p>Phishing starts with a fraudulent email or other communication that is designed to lure a victim. The message is made to look as though it comes from a trusted sender. If it fools the victim, he or she is coaxed into providing confidential information, often on a scam website. Sometimes malware is also downloaded onto the target’s computer.</p>
    
            <h1>What are the dangers of phishing attacks?</h1>
            <p>Sometimes attackers are satisfied with getting a victim’s credit card information or other personal data for financial gain. Other times, phishing emails are sent to obtain employee login information or other details for use in an advanced attack against a specific company. Cybercrime attacks such as advanced persistent threats (APTs) and ransomware often start with phishing.</p>
    
            <h1>How do I protect against phishing attacks?</h1>
            <p>User education <br>
                One way to protect your organization from phishing is user education. Education should involve all employees. High-level executives are often a target. Teach them how to recognize a phishing email and what to do when they receive one. Simulation exercises are also key for assessing how your employees react to a staged phishing attack.
                <br><br>
                Security technology<br>
                No single cybersecurity technology can prevent phishing attacks. Instead, organizations must take a layered approach to reduce the number of attacks and lessen their impact when they do occur. Network security technologies that should be implemented include email and web security, malware protection, user behavior monitoring, and access control.
                <br><br>
        
            </p>
            <h1>Types of phishing attacks</h1>
            <p>Deceptive phishing <br>
                Deceptive phishing is the most common type of phishing. In this case, an attacker attempts to obtain confidential information from the victims. Attackers use the information to steal money or to launch other attacks. A fake email from a bank asking you to click a link and verify your account details is an example of deceptive phishing.
                <br><br>
                
                Spear phishing<br><br>
                Spear phishing targets specific individuals instead of a wide group of people. Attackers often research their victims on social media and other sites. That way, they can customize their communications and appear more authentic. Spear phishing is often the first step used to penetrate a company’s defenses and carry out a targeted attack.
                <br><br>
                Whaling<br>
                When attackers go after a “big fish” like a CEO, it’s called whaling. These attackers often spend considerable time profiling the target to find the opportune moment and means of stealing login credentials. Whaling is of particular concern because high-level executives are able to access a great deal of company information.
                <br><br>
                Pharming<br>
                Similar to phishing, pharming sends users to a fraudulent website that appears to be legitimate. However, in this case, victims do not even have to click a malicious link to be taken to the bogus site. Attackers can infect either the user’s computer or the website’s DNS server and redirect the user to a fake site even if the correct </p>
    
    

        </div>
    </section>

