<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2c">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <div class="hom" data-aos="fade-up">
                <h1>DATA DIDDLING</h1>
                <div class="h-text">
                    <a href="base.html">HOME</a> >
                    <H2>DATA DIDDLING</H2>
                </div>

            </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section>
        <div class="cyber">
            <h1>What is DATA DIDDLING:</h1>
            <p>
                Data diddling is a type of cybercrime in which data is altered as it is entered into a computer system,
                most often by a data entry clerk or a computer virus. Computerized processing of the altered data
                results in a fraudulent benefit. In some cases, the altered data is changed back after processing to
                conceal the activity.The results can be huge. They might include adjusting financial figures up or down
                marginally, or it could be more complex and make an entire system unusable.
                <br><br>
                Data diddling is a form of computer fraud involving the intentional falsification of numbers in data
                entry. It often involves the inflation or understatement of income or expenses to benefit a company or
                individual when completing tax or other financial documents. This act is performed manually by someone
                in a data entry position, or remotely by hacking or using malware. Data diddling is a form of cyber
                crime, and is punishable by large fines or imprisonment.
                <br><br>
                Unlike other fraud, data diddling specifically refers to the misrepresentation of information during
                entry, and not after. The phrase is comprised of the term data, which is digital information, and the
                verb diddle, which means to falsify or exploit.
                <br><br>
            </p>
            <h1>What is data theft and how to prevent it?</h1>
            <p>
                Data theft definition <br>
                Data theft – also known as information theft – is the illegal transfer or storage of personal,
                confidential, or financial information. This could include passwords, software code or algorithms, and
                proprietary processes or technologies. Data theft is considered a serious security and privacy breach,
                with potentially severe consequences for individuals and organizations.

            </p>
            <h1>What is data theft?</h1>
            <p>
                Data theft is the act of stealing digital information stored on computers, servers, or electronic
                devices to obtain confidential information or compromise privacy. The data stolen can be anything from
                bank account information, online passwords, passport numbers, driver's license numbers, social security
                numbers, medical records, online subscriptions, and so on. Once an unauthorized person has access to
                personal or financial information, they can delete, alter, or prevent access to it without the owner’s
                permission.
                <br><br>
                Data theft usually occurs because malicious actors want to sell the information or use it for identity
                theft. If data thieves steal enough information, they can use it to gain access to secure accounts, set
                up credit cards using the victim’s name, or otherwise use the victim’s identity to benefit themselves.
                Data theft was once primarily a problem for businesses and organizations but, unfortunately, is now a
                growing problem for individuals.
                <br><br>
                While the term refers to 'theft', data theft doesn't literally mean taking information away or removing
                it from the victim. Instead, when data theft occurs, the attacker simply copies or duplicates
                information for their own use.
                <br><br>
                The terms 'data breach' and 'data leak' can be used interchangeably when discussing data theft. However,
                they are different:
                <br>
                A data leak occurs when sensitive data is accidentally exposed, either on the internet or through lost
                hard drives or devices. This enables cybercriminals to gain unauthorized access to sensitive data
                without effort on their part.
                By contrast, a data breach refers to intentional cyberattacks.
                <br><br>
            </p>
            <h1>How does data theft happen?</h1>
            <p>
                Data theft or digital theft occurs through a variety of means. Some of the most common include: <br><br>
                Social engineering: <br>

                The most common form of social engineering is phishing. Phishing occurs when an attacker masquerades as
                a trusted entity to dupe a victim into opening an email, text message, or instant message. Users falling
                for phishing attacks is a common cause of data theft.
                <br><br>
                Weak passwords: <br>

                Using a password that is easy to guess, or using the same password for multiple accounts, can allow
                attackers to gain access to data. Poor password habits – such as writing passwords down on a piece of
                paper or sharing them with others – can also lead to data theft.
                <br><br>
                System vulnerabilities:<br>

                Poorly written software applications or network systems that are poorly designed or implemented create
                vulnerabilities that hackers can exploit and use to steal data. Antivirus software that is out of date
                can also create vulnerabilities.
                <br><br>
                Insider threats:<br>

                Employees who work for an organization have access to customers’ personal information. Rogue employees
                or disgruntled contractors could copy, alter, or steal data. However, insider threats are not
                necessarily restricted to current employees. They can also be former employees, contractors, or partners
                who have access to an organization's systems or sensitive information. Insider threats are reportedly on
                the rise.
                <br><br>
                Human error<br>

                Data breaches don’t have to be the result of malicious actions. Sometimes they can be the result of
                human error instead. Common errors include sending sensitive information to the wrong person, such as
                sending an email by mistake to the incorrect address, attaching the wrong document, or handing a
                physical file to someone who shouldn't have access to the information. Alternatively, human error could
                involve misconfiguration, such as an employee leaving a database containing sensitive information online
                without any password restrictions in place.
                <br><br>
                Compromised downloads<br>

                An individual might download programs or data from compromised websites infected by viruses like worms
                or malware. This gives criminals unauthorized access to their devices, allowing them to steal data.
                <br><br>
                Physical actions<br>

                Some data theft is not the result of cybercrime but physical actions instead. These include the theft of
                paperwork or devices such as laptops, phones, or storage devices. With remote working increasingly
                widespread, the scope for devices to go missing or be stolen has also increased. If you’re working in a
                public place such as a coffee shop, someone could watch your screen and keyboard to steal information
                like your login details. Card-skimming – where criminals insert a device into card readers and ATMs to
                harvest payment card information – is another source of data theft.
                <br><br>
                Database or server problems<br>

                If a company storing your information is attacked because of a database or server problem, the attacker
                could access customers' personal information.
                <br><br>
                Publicly available information<br>

                A lot of information can be found in the public domain – i.e., through internet searches and looking
                through user posts on social networks.
                <br><br>
            </p>
            <h1>What types of data are typically stolen?</h1>
            <p>
                Any information stored by an individual or organization could be a potential target for data thieves.
                For example:
                <br><br>
                Customer records<br>
                Financial Data such as credit card or debit card information
                Source codes and algorithms
                Proprietary process descriptions and operating methodologies
                Network credentials such as usernames and passwords
                HR records and employee data
                Private documents stored on computer computers
                <br>
                Consequences of data theft<br>
                For organizations that suffer a data breach, consequences can be severe:
                <br><br>
                Potential lawsuits from customers whose information has been exposed
                Ransomware demands from attackers
                Recovery costs – for example, restoring or patching systems that have been breached
                Reputational damage and loss of customers
                Fines or penalties from regulatory bodies (depending on the industry)
                Downtime while data is recovered
                For individuals whose data has been breached, the main consequence is that it could lead to identity
                theft, causing financial loss and emotional distress.
                <br><br>
            </p>
            <h1>How to keep data safe and secure</h1>
            <p>
                So, how to protect data from cybercriminals? There are several steps you can take to prevent criminals
                from stealing data. These include:
                <br><br>
                Use secure passwords<br>

                Passwords can be easily cracked by hackers, particularly if you don't use a strong password. A strong
                password is at least 12 characters or longer and comprises a mix of upper- and lower-case letters plus
                symbols and numbers. The shorter and less complex your password is, the easier it is for cybercriminals
                to crack. You should avoid choosing something obvious – such as sequential numbers (“1234”) or personal
                information that someone who knows you might guess, such as your date of birth or a pet’s name.
                <br><br>
                To make your passwords more complex, you could consider creating a 'passphrase' instead. Passphrases
                involve picking a meaningful phrase that is easy to remember and then making the first letter of every
                word the password.
                <br><br>
                Avoid using the same password for multiple accounts<br>

                If you use the same password for multiple accounts, if a hacker cracks your password on one website,
                they also have access to many more. Remember to change your passwords regularly – every six months or
                so.
                <br><br>
                Avoid writing down your passwords<br>

                Writing a password down anywhere leaves it susceptible to being found by hackers, whether it’s on a
                piece of paper, in an Excel spreadsheet, or in the Notes app on your phone. If you have too many
                passwords to remember, consider using a password manager to help you keep track.
                <br><br>
                Multi-factor authentication<br>

                Multi-factor authentication (MFA) – of which two-factor authentication (TFA or 2FA) is the most common –
                is a tool that gives internet users an additional level of account security beyond the standard email
                address/username plus password combination. Two-factor authentication requires two separate, distinct
                forms of identification to access something. The first factor is a password, and the second commonly
                includes a text with a code sent to your smartphone or biometrics using your fingerprint, face, or
                retina. Where possible, enable multi-factor authentication on your accounts.
                <br><br>
                Be cautious when sharing personal information<br>

                Try to keep access to your data on a 'need to know basis, both online and offline. For example, if
                someone is asking for your personal information – such as your Social Security number, credit card
                number, passport number, date of birth, work history or credit status, etc. – ask yourself why they need
                it and how they will use it. What security measures do they have in place to ensure your private
                information remains private?
                <br><br>
                Limit social media sharing<br>

                Familiarize yourself with each social networking platform’s security settings and ensure these are set
                to a level you are comfortable with. Avoid disclosing personal information like your address or date of
                birth in your social media bios – criminals can use this data to build up a picture about you.
                <br><br>
                Close unused accounts<br>

                Most of us have signed up for online services that we no longer use. Where those accounts still exist,
                they likely contain a mix of your personal data, identity details, and credit card numbers – all
                valuable information for cybercriminals. Worse, if you use the same password for multiple accounts –
                which is definitely not recommended – then a password leak at one site can mean attackers obtain access
                to your accounts at other sites. To protect your privacy, it’s advisable to remove your private data
                from services you no longer use. You can do this by closing those outdated accounts rather than leaving
                them dormant.
                <br><br>
                Shred personal information<br>

                Shred letters which contain personal details like your name, date of birth, or Social Security Number.
                Keep an eye on your mail, as this could alert you to a data breach that may have gone undetected. For
                example, if you receive documentation related to a doctor’s visit you didn’t attend, it could be a sign
                your data has been breached, and it's time to take action.
                <br><br>
                Keep systems and programs up to date<br>

                Keep all operating systems and software programs up to date by regularly installing updates to security,
                web browsers, operating systems, and software programs as soon as they become available.
                <br><br>
                Monitor your accounts<br>

                Regularly check your bank or credit card statements, or other accounts, so you can see if any
                unauthorized charges or other anomalies have taken place. You may not receive a notification when a
                company you transact with has a data breach, so it's advisable to stay vigilant yourself.
                <br><br>
                Be wary of free Wi-Fi<br>

                Using free public Wi-Fi has become a daily routine for many people, but secure and reliable connections
                are not always what they seem. Public Wi-Fi hotspots can be easy targets for hackers and cybercriminals
                who can use them for data stealing. To stay safe on public Wi-Fi, avoid opening or sending sensitive
                data, turn off Bluetooth and file sharing, use a VPN and a firewall. A good antivirus is also essential.
                Read our tips on how to stay safe using public Wi-Fi here.
                <br><br>
                Stay informed<br>

                Keep an eye on the news in general or monitor security news websites to be sure you hear about it when a
                company you interact with suffers a data leak or data breach.

                One of the best ways to stay safe online is by using a high-quality antivirus. Kaspersky Total Security
                works around the clock to secure your devices and data. It locates device vulnerabilities and threats,
                blocks cyber threats before they take hold, and isolates and removes immediate dangers.
                <br><br>

            </p>
        </div>
    </section>