<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar1">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <div class="hom" data-aos="fade-up">
                <h1>HACKING</h1>
                <div class="h-text">
                    <a href="base.html">HOME</a> >
                    <H2>HACKING</H2>
                </div>

            </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section>
        <div class="cyber" data-aos="fade-up">
            <h1>What is HACKING:</h1>
            <br>
            <p>Hackers are criminals who gain unauthorized access to a network and devices, usually with the intent to
                steal sensitive data, such as financial information or company secrets.
            </p>
            <p>History of Hacking/Hackers <br>
                Hacking first appeared as a term in the 1970s but became more popular through the next decade. An
                article in a 1980 edition of Psychology Today ran the headline “The Hacker Papers” in an exploration of
                computer usage's addictive nature. Two years later, two movies, Tron and WarGames, were released, in
                which the lead characters set about hacking into computer systems, which introduced the concept of
                hacking to a wide audience and as a potential national security risk.
                <br><br>
                Sure enough, later that year, a group of teenagers cracked the computer systems of major organizations
                like Los Alamos National Laboratory, Security Pacific Bank, and Sloan-Kettering Cancer Center. A
                Newsweek article covering the event became the first to use the word “hacker” in the negative light it
                now holds.
                <br><br>
                This event also led Congress to pass several bills around computer crimes, but that did not stop the
                number of high-profile attacks on corporate and government systems. Of course, the concept of hacking
                has spiraled with the release of the public internet, which has led to far more opportunities and more
                lucrative rewards for hacking activity. This saw techniques evolve and increase in sophistication and
                gave birth to a wide range of types of hacking and hackers.
                <br><br>
                Types of Hacking/Hackers <br>
                There are typically four key drivers that lead to bad actors hacking websites or systems: (1) financial
                gain through the theft of credit card details or by defrauding financial services, (2) corporate
                espionage, (3) to gain notoriety or respect for their hacking talents, and (4) state-sponsored hacking
                that aims to steal business information and national intelligence. On top of that, there are politically
                motivated hackers—or hacktivists—who aim to raise public attention by leaking sensitive information,
                such as Anonymous, LulzSec, and WikiLeaks.
                <br><br>
                A few of the most common types of hackers that carry out these activities involve:
                <br><br>
                Black Hat Hackers <br>
                Black hat hackers are the "bad guys" of the hacking scene. They go out of their way to discover
                vulnerabilities in computer systems and software to exploit them for financial gain or for more
                malicious purposes, such as to gain reputation, carry out corporate espionage, or as part of a
                nation-state hacking campaign.
                <br>
                These individuals’ actions can inflict serious damage on both computer users and the organizations they
                work for. They can steal sensitive personal information, compromise computer and financial systems, and
                alter or take down the functionality of websites and critical networks.
                <br><br>
                White Hat Hackers <br>
                White hat hackers can be seen as the “good guys” who attempt to prevent the success of black hat hackers
                through proactive hacking. They use their technical skills to break into systems to assess and test the
                level of network security, also known as ethical hacking. This helps expose vulnerabilities in systems
                before black hat hackers can detect and exploit them.
                <br><br>
                The techniques white hat hackers use are similar to or even identical to those of black hat hackers, but
                these individuals are hired by organizations to test and discover potential holes in their security
                defenses.
                <br><br>
                Grey Hat Hackers <br>
                Grey hat hackers sit somewhere between the good and the bad guys. Unlike black hat hackers, they attempt
                to violate standards and principles but without intending to do harm or gain financially. Their actions
                are typically carried out for the common good. For example, they may exploit a vulnerability to raise
                awareness that it exists, but unlike white hat hackers, they do so publicly. This alerts malicious
                actors to the existence of the vulnerability.
                <br><br>
                View the Three Types of Hackers
                Devices Most Vulnerable To Hacking
                Smart Devices <br>
                Smart devices, such as smartphones, are lucrative targets for hackers. Android devices, in particular,
                have a more open-source and inconsistent software development process than Apple devices, which puts
                them at risk of data theft or corruption. However, hackers are increasingly targeting the millions of
                devices connected to the Internet of Things (IoT).
                <br><br>
                Webcams <br>
                Webcams built into computers are a common hacking target, mainly because hacking them is a simple
                process. Hackers typically gain access to a computer using a Remote Access Trojan (RAT) in rootkit
                malware, which allows them to not only spy on users but also read their messages, see their browsing
                activity, take screenshots, and hijack their webcam.
                <br><br>
                Routers <br>
                Hacking routers enables an attacker to gain access to data sent and received across them and networks
                that are accessed on them. Hackers can also hijack a router to carry out wider malicious acts such as
                distributed denial-of-service (DDoS) attacks, Domain Name System (DNS) spoofing, or cryptomining.
                <br><br>
                Email <br>
                Email is one of the most common targets of cyberattacks. It is used to spread malware and ransomware and
                as a tactic for phishing attacks, which enable attackers to target victims with malicious attachments or
                links.
                <br><br>
                Jailbroken Phones <br>
                Jailbreaking a phone means removing restrictions imposed on its operating system to enable the user to
                install applications or other software not available through its official app store. Aside from being a
                violation of the end-user’s license agreement with the phone developer, jailbreaking exposes many
                vulnerabilities. Hackers can target jailbroken phones, which allows them to steal any data on the device
                but also extend their attack to connected networks and systems.
                <br><br>
            </p>

            <p>
                Cybersecurity is critical for businesses of all sizes. These 18 tips can help you secure your computers
                and mobile devices from malicious actors.
                <br><br>
                Hackers are criminals who gain unauthorized access to a network and devices, usually with the intent to
                steal sensitive data, such as financial information or company secrets.
                You can protect your computers by using firewalls and antivirus software and by following best practices
                for computer use.
                You can protect your mobile devices by turning off Bluetooth when it’s not in use, being mindful of the
                Wi-Fi networks you connect to and using security applications to improve monitoring and protection.
                <br><br>
                The growth of the World Wide Web in the 1990s introduced new possibilities and spawned new industries,
                but it also brought about new downsides of connectivity. Tons of spam started to infiltrate email
                accounts, and computer viruses wreaked havoc on business networks. A new threat known as computer
                hacking extended the definition of thievery to include infiltrating your computer, stealing personal
                information, tricking you into revealing private data, and using that data to steal and extort personal
                information, such as business secrets, bank account credentials and even people’s identities.
                <br><br>
                What are computer hackers?
                Computer hackers are people who break into internet-connected devices such as computers, tablets and
                smartphones, usually with the intent to steal, change or delete information.
                <br><br>
                Just as other thieves have malicious intent, hackers usually find their way into devices for negative
                purposes. (However, one exception is so-called white hat hackers, whom companies hire to break into
                their devices to find security flaws that need to be fixed.) Hackers may want to steal, alter or delete
                information in your devices, and they often do so by installing malware (software used for malicious
                purposes) you might not even know is there. These thieves might get access to your most precious data
                before you’re aware of a break-in.
                <br><br>
                Key takeaway: Hackers are interested in gaining unauthorized access to your devices to steal sensitive
                data.
                <br><br>
                Types of hacking
                Here are some of the reasons computer hackers break into devices:
                <br><br>
                Financial crimes. We’ve all heard the classic story of somebody checking their credit card statement,
                only to find transactions they didn’t make. These false transactions are often the result of computer
                hackers stealing your credit card numbers, checking account info or gaining access to other financial
                data.
                <br><br>
                Vandalism. Hacking has its own subculture, so some hackers may want to vandalize certain websites just
                to show off to other hackers. Does it sound ridiculous? Don’t make the mistake of not taking this
                motivation seriously; it’s fairly common, according to Malwarebytes.
                <br><br>
                Hacktivism. This portmanteau describes a form of hacking somewhat like vandalism. Some hackers may want
                to alter or destroy certain websites for politically motivated reasons.
                <br><br>
                Corporate espionage. Spying existed long before the internet era, and hacking has only made espionage
                more accessible to the everyday person. With much of the world constantly connected to the internet, one
                company can hack into other companies’ devices to steal their information and use it to build an unfair
                competitive advantage.
                Key takeaway: Hackers have a variety of motivations, ranging from financial gain to political goals.
                Awareness of these intentions can help you anticipate attacks that could affect your small business.
                <br><br><br>
                <h1>18 Ways to Secure Your Devices From Hackers:</h1>

                <p>How to secure your computer from hackers
                Despite the prevalence of computer hackers, most businesses rely on the internet to track their financials, order and maintain inventory, conduct marketing and PR campaigns, connect with customers, engage in social media, and perform other critical operations. Yet we continue to hear about massive computer breaches, even at giant corporations with robust security measures in place.
                
                Small businesses are often targeted as well, especially because they may underestimate the risk of cybercrime and may not have the resources to employ expensive cybersecurity solutions. Follow these tips to protect your devices and safeguard your sensitive data:
                </p>
                <ul type="number">
                    <li>Use a firewall. <br>
                        Windows and macOS have built-in firewalls – software designed to create a barrier between your information and the outside world. Firewalls prevent unauthorized access to your business network and alert you to any intrusion attempts.
                        <br>
                        Make sure the firewall is enabled before you go online. You can also purchase a hardware firewall from companies such as Cisco, Sophos or Fortinet, depending on your broadband router, which also has a built-in firewall that protects your network. If you have a larger business, you can purchase an additional business networking firewall.
                        </li><br>
                    <li>Install antivirus software. <br>
                        Computer viruses and malware are everywhere. Antivirus programs such as Bitdefender, Panda Free Antivirus, Malwarebytes and Avast protect your computer against unauthorized code or software that may threaten your operating system. Viruses may have easy-to-spot effects – for example, they might slow your computer or delete key files – or they may be less conspicuous.
                        <br>
                        Antivirus software plays a major role in protecting your system by detecting real-time threats to ensure your data is safe. Some advanced antivirus programs provide automatic updates, further protecting your machine from the new viruses that emerge every day. After you install an antivirus program, don’t forget to use it. Run or schedule regular virus scans to keep your computer virus-free.</li><br>
                    <li>Install an anti-spyware package. <br>
                        Spyware is a special kind of software that secretly monitors and collects personal or organizational information. It is designed to be hard to detect and difficult to remove and tends to deliver unwanted ads or search results that are intended to direct you to certain (often malicious) websites.
                        <br>
                        Some spyware records every keystroke to gain access to passwords and other financial information. Anti-spyware concentrates exclusively on this threat, but it is often included in major antivirus packages, like those from Webroot, McAfee and Norton. Anti-spyware packages provide real-time protection by scanning all incoming information and blocking threats.</li><br>
                    <li>Use complex passwords. <br>
                        Using secure passwords is the most important way to prevent network intrusions. The more secure your passwords are, the harder it is for a hacker to invade your system.
                        <br>
                        More secure often means longer and more complex. Use a password that has at least eight characters and a combination of numbers, uppercase and lowercase letters, and computer symbols. Hackers have an arsenal of tools to break short, easy passwords in minutes.
                        <br>
                        Don’t use recognizable words or combinations that represent birthdays or other information that can be connected to you. Don’t reuse passwords, either. If you have too many passwords to remember, consider using a password manager, such as Dashlane, Sticky Password, LastPass or Password Boss. [See related article: How to Create a Strong Password</li><br>
                    <li>Keep your OS, apps and browser up-to-date. <br>
                        Always install new updates to your operating systems. Most updates include security fixes that prevent hackers from accessing and exploiting your data. The same goes for apps. Today’s web browsers are increasingly sophisticated, especially in privacy and security. Be sure to review your browser security settings in addition to installing all new updates. For example, you can use your browser to prevent websites from tracking your movements, which increases your online privacy. Or, use one of these private web browsers.</li><br>
                    <li>Ignore spam. <br>
                        Beware of email messages from unknown parties, and never click on links or open attachments that accompany them. Inbox spam filters have gotten pretty good at catching the most conspicuous spam. But more sophisticated phishing emails that mimic your friends, associates and trusted businesses (like your bank) have become common, so keep your eyes open for anything that looks or sounds suspicious.</li><br>
                    <li>Back up your computer. <br>
                        If your business is not already backing up your hard drive, you should begin doing so immediately. Backing up your information is critical in case hackers do succeed in getting through and trashing your system.
                        <br>
                        Always be sure you can rebuild as quickly as possible after suffering any data breach or loss. Backup utilities built into macOS (Time Machine) and Windows (File History) are good places to start. An external backup hard drive can also provide enough space for these utilities to operate properly.</li><br>
                    <li>Shut it down. <br>
                        Many businesses, especially those operating a web server, are “all systems go” all the time. If you’re not operating a complex internet-based company, however, switch off your machine overnight or during long stretches when you’re not working. Always being on makes your computer a more visible and available target for hackers; shutting down breaks the connection a hacker may have established with your network and disrupts any possible mischief.</li><br>
                    <li>Use virtualization. <br>
                        Not everyone needs to take this route, but if you visit sketchy websites, expect to be bombarded with spyware and viruses. While the best way to avoid browser-derived intrusions is to steer clear of unsafe sites, virtualization allows you to run your browser in a virtual environment, like Parallels or VMware Fusion, that sidesteps your operating system to keep it safer.</li><br>
                    <li>Secure your network. <br>
                        Routers don’t usually come with the highest security settings enabled. When setting up your network, log in to the router, and set a password using a secure, encrypted setup. This prevents intruders from infiltrating your network and messing with your settings.</li><br>
                    <li>Use two-factor authentication. <br>
                        Passwords are the first line of defense against computer hackers, but a second layer boosts protection. Many sites let you enable two-factor authentication, which boosts security because it requires you to type in a numerical code – sent to your phone or email address – in addition to your password when logging in.</li><br>
                    <li>Use encryption. <br>
                        Even if cybercriminals gain access to your network and files, encryption can prevent them from accessing any of that information. You can encrypt your Windows or macOS hard drive with BitLocker (Windows) or FileVault (Mac), encrypt any USB flash drive that contains sensitive information and use a VPN to encrypt web traffic. Only shop at encrypted websites; you can spot them immediately by the “https” in the address bar, accompanied by a closed-padlock icon. [See related article: A Small Business Guide to Computer Encryption]</li><br>
                    <li>Turn off Bluetooth. <br>
                        When you’re not using Bluetooth, turn it off. Keeping your Bluetooth on but dormant opens another back door for computer hackers.</li><br>
                    <li>Don’t use unsecured public Wi-Fi. <br>
                        Password-free, widely used Wi-Fi networks have no security features. As such, they’re prime targets for computer hackers.
                        </li><br>
                    <li>Get a security app. <br>
                        Install a security app on your phone, just as you should install a firewall, antivirus software and an anti-spyware package on your computer. Popular options include Avast, Kaspersky Mobile Antivirus and Bitdefender.</li><br>
                    <li>Use a better passcode. <br>
                        Unlock codes like 0000 and 1234 are easy to remember, but they’re also easy to guess. Instead, opt for a randomly generated, six-number passcode.</li><br>
                    <li>Switch off autocomplete. <br>
                        Autocomplete is the feature that guesses what you’re typing and completes the word, phrase or other information for you. While convenient, this tool all but hands your email address, mailing address, phone number and other important information to hackers. Switch it off.</li><br>
                    <li>Clear your browsing history. <br>
                        Your mobile web browser has a browsing history, too. Clear it often – including cookies and cached files – to give hackers as little information as possible to work with if they do break into your phone.</li><br>
                </ul>
                
            </p>
            <p>Key takeaway: Mobile devices require additional efforts to protect, including deactivating certain features when they’re not in use and installing security applications.</p>
        </div>
    </section>