<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <div class="hom" data-aos="fade-up">
                <h1>DATA BREACH</h1>
                <div class="h-text">
                    <a href="base.html">HOME</a> >
                    <H2>DATA BREACH</H2>
                </div>

            </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section>
        <div class="cyber" data-aos="fade-up">
            <h1>What is DATA BREACH:</h1>
            <br>
            <h1>Data Breach</h1>
            <p>
                A data breach is an incident where information is stolen or taken from a system without the knowledge or
                authorization of the system’s owner. A small company or large organization may suffer a data breach.
                <br>
                Stolen data may involve sensitive, proprietary, or confidential information such as credit card numbers,
                customer data, trade secrets, or matters of national security.
                <br>
                The effects brought on by a data breach can come in the form of damage to the target company’s
                reputation due to a perceived ‘betrayal of trust.’ Victims and their customers may also suffer financial
                losses should related records be part of the information stolen.
                <br>
                Based on the number of data breach incidents recorded between January 2005 and April 2015, personally
                identifiable information (PII) was the most stolen record type while financial data came in second.
                <br><br>
                Breach methods observed across industries
                <br>
                Most data breaches are attributed to hacking or malware attacks. Other frequently observed breach <br>
                methods include the following: <br>
                <br>
                Insider leak: A trusted individual or person of authority with access privileges steals data.
                <br><br>
                Payment card fraud: Payment card data is stolen using physical skimming devices.
                <br><br>
                Loss or theft: Portable drives, laptops, office computers, files, and other physical properties are lost
                or stolen.
                <br><br>
                Unintended disclosure: Through mistakes or negligence, sensitive data is exposed.
                <br><br>
                Unknown: In a small of number of cases, the actual breach method is unknown or undisclosed.
                <br><br>
            </p>
            <h1>Phases of a Data Breach</h1>
            <p>
                Research <br>
                The attacker, having picked a target, looks for weaknesses to exploit: employees, systems, or the
                network. This entails long hours of research on the attacker’s part and may involve stalking employees’
                social media profiles to find what sort of infrastructure the company has.
                Attack
                Having scoped a target’s weaknesses, the attacker makes initial contact either through a network-based
                or social attack.
                <br><br>
                In a network-based attack, the attacker exploits weaknesses in the target’s infrastructure to instigate
                a breach. These weaknesses may include, but are not limited to SQL injection, vulnerability
                exploitation, and/or session hijacking.
                <br><br>
                In a social attack, the attacker uses social engineering tactics to infiltrate the target network. This
                may involve a maliciously crafted email sent to an employee, tailor-made to catch that specific
                employee’s attention. The email can phish for information, fooling the reader into supplying personal
                data to the sender, or come with a malware attachment set to execute when downloaded.
                <br><br>
                Exfiltrate <br>
                Once inside the network, the attacker is free to extract data from the company’s network. This data may
                be used for either blackmail or cyberpropaganda. The information an attacker collects can also be used
                to execute more damaging attacks on the target’s infrastructure.
                Reported Data Breaches.
            </p>
            <h1>Data Breach Laws</h1>
            <p>Data Breach Laws
                Data breach legislation differs in every country or region. Many countries still do not require
                organizations to notify authorities in cases of a data breach. In countries like the U.S., Canada, and
                France, organizations are obliged to notify affected individuals of a data breach under certain
                conditions.
                <br><br>
                Best Practices
                For Enterprises
                Patch systems and networks accordingly. IT administrators should make sure all systems in the network
                are patched and updated to prevent attackers from exploiting vulnerabilities in unpatched or outdated
                software.
                <br><br>
                Educate and enforce. Inform your employees about the threats, train them to watch out for social
                engineering tactics, and introduce and/or enforce guidelines on how to handle a threat if encountered.
                <br><br>
                Implement security measures. Create a process to identify vulnerabilities and address threats in your
                network. Regularly perform security audits and make sure all of the systems connected to your company
                network are accounted for.
                <br><br>
                Create contingencies. Put an effective disaster recovery plan in place. In the event of a data breach,
                minimize confusion by being ready with contact persons, disclosure strategies, actual mitigation steps,
                and the like. Make sure that your employees are made aware of this plan for proper mobilization once a
                breach is discovered.
                For Employees
                Keep track of your banking receipts. The first sign of being compromised is finding strange charges on
                your account that you did not make.
                <br><br>
                Don’t believe everything you see. Social engineering preys on the gullible. Be skeptical and vigilant.
                <br><br>
                Be mindful of what you share on social media. Don’t get carried away. If possible, don’t reveal too much
                about yourself on your profile.
                <br><br>
                Secure all your devices. These devices include laptops, mobile devices, and wearables. Ensure that they
                are protected by security software that is always updated.
                <br><br>
                Secure your accounts. Use a different email address and password for each of your accounts. You may opt
                to use a password manager to automate the process.
                <br><br>
                Do not open emails from unfamiliar senders. When in doubt, delete suspicious-looking emails without
                opening it. Always try to verify who the sender is and the contents of the email before opening any
                attachment.

            </p>

        </div>
    </section>