{% extends 'base.html' %}
{% load static%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <title>PrivacyControl</title>
</head>

<body>
    <section id="header">
        <nav id="navbar">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                
                    <h1>PrivacyControl</h1>
                
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="active"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services</a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>
                    
                </ul>
            </div>

            <i class="fa-solid fa-bars" onclick="showMenu()"></i>
            <div class="home-text">
                <h5>INTRODUCING SMART CYBER SECURITY</h5>
                <h1>PROVIDE <br> EXTRA</h1>
                <div class="text1">
                    <h1>SECURITY</h1>
                </div>
                </h1>
                <h1>TO YOUR DATA</h1>
            </div>

            <div class="homeimg">
                <img src="../static/Polygon.png" alt="Polygon">
            </div>
        </nav>

    </section>
    <section id="images">
        <div class="img1" data-aos="fade-right">
            <div class="img1-text">
                <h1>1 ________</h1>
                <h1>DATA PRIVACY</h1>
                <p>These Web Application provides various ways of Data Privacy with various information to protect the
                    data from various CyberBreach attacks and provides various services for data privacy and protection
                </p>
            </div>

        </div>
        <div class="img2" data-aos="fade-up">
            <div class="img2-text" >
                <h1>2 ________</h1>
                <h1>24/7 SUPPORT</h1>
                <p>The User will get a full Time Supprt, whenever the user wants the user can get the service at anytime
                    at no-cost. It is awailable 24/7 hours so the user can get the full use of it</p>
            </div>

        </div>
        <div class="img3" data-aos="fade-left">
            <div class="img3-text" >
                <h1>3 ________</h1>
                <h1>CERTIFIED</h1>
                <p>The Application is well defiend and certified by the Developers and Checkers. The s\users should not worry about the Apps Privacy, Security, etc.</p>
            </div>

        </div>

    </section>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    

    <section id="About">
        <div class="aboutimg1" data-aos="fade-right">
            <img src="../static/BIGLOGO.png" alt="">
        </div>

        <div class="abouttext" data-aos="fade-left">
            <h2>ABOUT PRIVACYCONTROL</h2>
            <BR></BR>
            <h1>PRIVACYCONTROL IS YOUR SOLUTION</h1>
            <br>
            <p>PRIVACYCONTROL is a Web-Application which is build for the users to prevent CyberBreach Attacks. These Web-Application is developed to aware the users about CyberBreach Attacks and thus how to prevent those CyberBreach Attacks.</p>
            <br><p>According to CYBINT 95% of CyberSecurity Breaches are caused by Human Errors</p>
            <br><br>
            <span>The Application contains various methods and services to prevent CyberBreach Attacks. The Application contains various applications such as PASSWORD MANAGER, QR CODE, PASSWORD GENERATOR, PASSWORD STRENGTH-CHECKER. As well as the Application contains various pages that Enlight the users about todays CyberBreach Attacks and prevention method.
            </span>
            <br><br><br>
            <a href="about.html"><button data-aos="fade-up">READ MORE</button></a>
        </div>
        <div class="aboutbtn">

        </div>
    </section>
    <section id="Service">
        <div class="service" data-aos="fade-up">
            <h2>OUR SERVICES</h2>
            <h1>BE SMART, BE SAFE</h1>
            <p>Acts as a useful guide for parents, teachers, and caregivers to help identify the correct terms to know and teach their children to protect their Private, Personal datas, etc</p>
        </div>
        <div class="container">
            <div class="container1">
                <div class="con1" data-aos="fade-right">
                    <h3>PRIVACYCONTROL MEASURES</h3>
                    <p>These Application contains various Pages that helps user to learn about the CyberBreach Attacks and it provides various methods to prevent those attacks. The app Enlight the user in todays life</p>
                </div>
                <div class="con2" data-aos="fade-right">
                    <H3>PASSWORD MANAGER</H3>
                    <p>PASSWORD MANAGER is an Application which Protect and Manages the Password of the users. It comes with 2-Step verification process thus can't be accessed or hack by any other person. It has login-page, OTP-varification System and Password Managing Properties.</p>
                </div>

            </div>
            <div class="container2">
                <div class="con3" data-aos="fade-bottom">
                    <h3>PASSWORD GENERATOR</h3>
                    <p>It is an Application which alows users to access to its properties. The Application helps users to Generate a well define Password which is more powerfull than a regular password and which can't be guess and hacked by any other person. The user can create the password of it's own choice, what it wants in password.
                    </p>
                </div>
                <div class="con4" data-aos="fade-up">
                    <h3>PASSWORD STRENGTH <br> CHECKER</h3>
                    <p>It is an Application which alows users to access to its properties. The Application helps users to check the Password is strong enough so it can be used in an account. The user can write the Passwords in the input section. The Application checks the Password using the algorithm.</p>
                </div>
            </div>
        </div>
        <script>
            AOS.init();
        </script>
    </section>
    <section id="Contact">
        
        <div class="c-head"  data-aos="fade-up">

            <h1>PrivacyControl</h1>
        </div>
        <div class="c1" data-aos="fade-up">
            <h2>An Immersive Security Experience</h2>
        </div>
        <hr>
        <div class="table" data-aos="fade-up">
            <div class="table1">
                <h3>Contact</h3>
                <ul>
                    <li>skfarzaan36@gmail.com</li>
                    <li>Phone: 8080851626</li>
                    <li>500 Terry Francois St</li>
                    <li>San Francisco, CA 94158</li>
                </ul>
            </div>
            <div class="table2">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="base.html"></a>Home</li>
                    <li><a href="about.html"></a>About</li>
                    <li><a href="service.html"></a>Services</li>
                    <li><a href="pages.html"></a>Pages</li>
                    <li><a href="contact.html"></a>Contact</li>
                    <li><a href="#"></a>Privacy Policy</li>
                    <li><a href="#"></a>Terms & Condition</li>
                </ul>
            </div>
            <div class="table3">
                <h3>Social</h3>
                <ul>
                    <li><a href="#Discord"></a>Discord</li>
                    <li><a href="#Twitch"></a>Twitch</li>
                    <li><a href="#Facebook"></a>FAcebook</li>
                    <li><a href="#Youtube"></a>Youtube</li>
                    <li><a href="#Twitter"></a>Twitter</li>
                    <li><a href="#LinkedIn"></a>LinkedIn</li>
                </ul>
            </div>
            <div class="table4">
                <h3>Find Us On</h3>
                <ul>
                    <li><a href="#playstore"></a>Playstore</li>
                    <li><a href="#playstore"></a>google</li>
                </ul>
            </div>
        </div>
        <hr>
        
    </section>
    <div class="bottom" style="background-color: #181818; text-align: center; color: white;">
        &copy; All Rights Reserved. Created by @skfarzaan
    </div>
</body>

</html>


{% endblock %}