<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2i">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>



    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>
    <section>
        <div class="cyber" data-aos="fade-up">
            <h1>With Off-Facebook Activity, you have (some) control over your data:</h1>
            <p>Facebook lets you manage the data it collects from third-party websites and apps. Here’s how.</p>
            <hr style="width: 90%;position: relative; left: 3%;border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <br><br>
            <p>
                That Facebook collects data about you should come as no surprise. Moreover, the company uses information
                from numerous sites and apps to compile its personal dossiers. And though the decision to post something
                on Facebook (or not) rests with you, third-party services won’t generally inform you what data they
                transmit and to whom.
            </p>
            <br>
            <h1>
                Off-Facebook Activity
            </h1><br>
            <p>
                Not so long ago, Facebook began offering users the ability to view and manage information collected from
                third parties. You’ll find that option, Off-Facebook Activity, in Facebook’s privacy settings:
                <br><br>
                Click or tap the triangle (Web version) or menu (mobile app) icon in the upper right corner of the
                screen;<br>
                Select Settings & Privacy;<br>
                Open Settings;<br>
                Go to Your Facebook Information;<br>
                Click Off-Facebook Activity.<br><br>
                Although you can’t ban data collection, you can dig around Off-Facebook Activity to find out who’s
                spilling what about you to the social network and unlink your profile from such information. That’s
                something, at least.
            </p><br>
            <h1>Who reports your activity to Facebook</h1>
            <p>Sites and apps employ various social media tools, from the “Sign in with Facebook” button to analytics
                tools, to share information with Facebook.
                <br><br>
                You’ll find some of those providers right there on the Off-Facebook Activity page. To open the full
                list, click or tap Manage Your Off-Facebook Activity. At this point you’ll have to enter your password.
                <br><br>
                The sheer scale of the data collection may blow you away: Facebook’s partners include news portals,
                banking apps, and many more. You may find a site listed that you don’t even remember visiting because
                it’s just a search result you accidentally clicked.
                <br><br>
            </p>
            <h1>What data do sites and apps transfer to Facebook?</h1>
            <p>Off-Facebook Activity consists primarily of information about your interactions with other services. For
                example, a media site might inform the social network that you read the latest news, and an online store
                would report that you viewed or bought a product.
                <br><br>
                The Facebook settings show only the number of actions a particular resource has shared, but you can
                download an archive with details:
                <br><br>
                Go to Settings → Your Facebook Information → Off-Facebook Activity → Manage Your Off-Facebook
                Activity;<br>
                On the page listing the apps that send information about your activity to Facebook, select Download Your
                Information. (In the mobile app, tap the icon in the upper right corner of the screen first);<br>
                If necessary, select what data and for what period to download. By default, Facebook creates an archive
                of all information related to you, including your posts, activity on the social network, and more. If
                your sole interest is data from third parties, uncheck all boxes except for Ads and Businesses;<br>
                Tap Create File.<br><br>
                Creating the archive takes anywhere from a few minutes to several days. A simple request for just
                Off-Facebook Activity information will most likely be quite quick.
                <br><br>
                Facebook notes that it actually receives more data than what you see. Nevertheless, the information can
                be illuminating. What’s more, you can register a complaint against any service that you find passed
                sensitive data to Facebook:
                <br><br>
                Go to Settings → Your Facebook Information → Off-Facebook Activity → Manage Your Off-Facebook
                Activity;<br>
                In the list of sites and apps, click or tap the name of the service;<br>
                Click or tap Give feedback about this activity;<br>
                Select the reason for the complaint.<br><br>
            </p>
            <h1>How to delete data from your account</h1>
            <p>Facebook lets you clear your profile of data already collected about you. To prevent past online activity
                from influencing the ads you see, go to Settings → Your Facebook Information → Off-Facebook Activity and
                click or tap Clear History.</p>
            <h1>How to prevent sites from sending data to Facebook</h1>
            <p>You cannot force Facebook and third-party services to sever communications entirely; sites and apps will
                always report some information about you to social networks. Some sites have gotten caught passing over
                too much personal data, and they’ve changed their approaches as a result, but that has nothing to do
                with Facebook settings.
                <br><br>
                To be proactive, configure the social network not to link information about your activity on third-party
                services to your profile or use it to display personalized ads. You can do that for sites and apps
                individually or all at once.
                <br><br>
                To get Facebook to stop adding data from a particular site to its dossier on you:
                <br><br>
                Go to Settings → Your Facebook Information → Off-Facebook Activity → Manage Your Off-Facebook
                Activity;<br>
                Click or tap the name of the site in the list, and in the window that opens, select Turn off future
                activity from [website name];<br>
                Click or tap the Turn Off button.<br>
                Within two days, Facebook will stop serving you ads based on information from that resource. At that
                point, you will not be able to use the “Sign in with Facebook” button on this site (unless you change
                the setting back).
                <br><br>
                You can also ban all sending of data by sites and apps — just be prepared to be signed out immediately
                from all services to which you were logged in with Facebook.
            
            <br><br>
            To stop Facebook from targeting ads based on what sites and apps you use:
            <br><br>
            On the Manage Your Off-Facebook Activity page with a list of services that have shared information about you
            with Facebook, click or tap Manage Future Activity. In the Web version, this item is on the right of the
            screen; in the mobile app, it is available in the three-dot menu;<br>
            Click or tap Manage Future Activity;<br>
            Disable Future Off-Facebook Activity;<br>
            Click or tap Turn Off.<br><br>
            All done! Now the social network will no longer assault you with ads for shoes just because you recently
            bought a pair of sneakers.
            <br><br>
            Next, if you haven’t already, configure your Facebook account’s security and privacy, as well as
            notifications. And if you are thinking about bidding farewell to the social network altogether, check out
            our post detailing how to delete your Facebook account properly without losing your valuable data and
            photos.<br><br>
        </p>
    </section>