<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/privacy.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <div class="hom" data-aos="fade-up">
                <h1>PRIVACY-CONTROL</h1>
                <div class="h-text">
                    <a href="base.html">HOME</a> >
                    <H2>PRIVACY-CONTROL</H2>
                </div>

            </div>
    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>

    <section>
        <div class="cyber">
            <div class="contain">
                <div class="privacy1" data-aos="fade-right">
                    <div class="primg1">
                        <a href="privacy1.html">
                            <img src="../static/privacy1.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt1">
                        
                            <h1>Data Safety instead of App Permissions</h1>
                        <p>Google Play’s app descriptions have a new Data Safety section now. We explain why this isn’t such great news.</p>
                        
                        
                    </div>
                </div>
                <div class="privacy2" data-aos="fade-up">
                <div class="primg2">
                    <a href="privacy2.html">
                        <img src="../static/deep.jpg" alt="">
                    </a>
                </div>
                <div class="pritxt2">
                    <h1>Darknet, dark web, deep web, and surface web — what’s the difference?</h1>
                    <p>The terms are sometimes confused; we help unravel the differences.</p>
                </div>
                </div>
                <div class="privacy3" data-aos="fade-left">
                <div class="primg3">
                    <a href="privacy3.html">
                        <img src="../static/eye.jpg" alt="">
                    </a>
                </div>
                <div class="pritxt3">
                    <h1>Mobile apps are watching you</h1>
                    <p>Mobile apps can access your data and sell the data to third parties. What can you do about it?</p>
                </div>
                </div>
                <div class="privacy4" data-aos="fade-right">
                    <div class="primg4">
                        <a href="privacy4.html">
                            <img src="../static/browser.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt4">
                        <h1>How to tell if a website is taking your (browser) fingerprints</h1>
                        <p>Researchers have created an extension to learn about the information websites collect to “fingerprint” browsers.</p>
                    </div>
                </div>
                
                <div class="privacy5"data-aos="fade-up">
                    <div class="primg5">
                        <a href="privacy5.html">
                            <img src="../static/face.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt5">
                        <h1>With Off-Facebook Activity, you have (some) control over your data</h1>
                        <p>Facebook lets you manage the data it collects from third-party websites and apps. Here’s how.</p>
                    </div>
                </div>
                <div class="privacy6" data-aos="fade-left" >
                    <div class="primg6">
                        <a href="privacy6.html">
                            <img src="../static/spie.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt6">
                        <h1>How to keep spies off your phone — in real life, not the movies</h1>
                        <p>How paranoid employers and jealous partners can spy on you, and why chip bags are best left to movie heroes.</p>
                    </div>
                </div>
                <div class="privacy7" data-aos="fade-right">
                    <div class="primg7">
                        <a href="privacy7.html">
                            <img src="../static/cam.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt7">
                        <h1>Four ways to find spy cameras</h1>
                        <p>How to check for hidden cameras in a hotel room or rented apartment.</p>
                    </div>
                </div>
                <div class="privacy8" data-aos="fade-up">
                    <div class="primg8">
                        <a href="privacy8.html">
                            <img src="../static/cookie.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt8">
                        <h1>How to control cookies: A real-world experiment</h1>
                        <p>We explain how cookies affect your privacy online.</p>
                    </div>
                </div>
                <div class="privacy9" data-aos="fade-left">
                    <div class="primg9">
                        <a href="privacy9.html">
                            <img src="../static/android.jpg" alt="">
                        </a>
                    </div>
                    <div class="pritxt9">
                        <h1>How smartphone makers track users</h1>
                        <p>A recent study shows that even “clean” Android smartphones collect a lot of information about their owners.</p>
                    </div>
                </div>
                <!-- <span>Those Are Some Privacy measures</span> -->
            </div>
                    
        </div>
    </section>
