<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2l">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>



    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>
    <section>
        <div class="cyber" data-aos="fade-up">
            <h1>How to control cookies: A real-world experiment:</h1>
            <p>We explain how cookies affect your privacy online.</p>
            <hr style="width: 90%;position: relative; left: 3%;border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <br><br>
            <p>These days, when you go to almost any website, you’ll immediately see a banner at the bottom of the
                screen asking you to “accept all cookies.” Typically, users agree, to get rid of the annoying text box
                without delay. Lots of people don’t know if they can decline these mysterious cookies or how to
                configure them. We decided to conduct an experiment and show you how to control cookies and what happens
                if you don’t bother.</p>
            <h1>What are cookies, and what do you do with them?</h1>
            <p>
                Every website collects information about you and your activities and stores the information on your
                device in the form of small files. Those files are called cookies.
                <br><br>
                Cookies basically do three things:
                <br><br>
                Make the website more convenient for users,<br>
                Help the website work more reliably,<br>
                Track visitors’ activities.<br><br>
                Let’s start with convenience. Cookies identify you to a website and save your settings (if any). For
                example, a hotel reservation website can remember what currency you chose to pay in, and if you check
                the Remember Me option on a social network’s login page, you won’t need to enter your username and
                password every time you visit. When you return to the website, it checks your device for associated
                cookies, recognizes you, and automatically lets you access your account.<br><br>
                However, in addition to having features that are useful for website visitors, cookies enable services to
                harvest user data to make suggestions based on them and, of course, display targeted ads. Such cookies
                may belong not just to the owners of the website but also to companies with which they have entered into
                partnership agreements. The latter are called third-party cookies, and they are the reason many say
                cookies are just tracking tools.
                <br><br>
                Because cookies gather private information that is subject to protection, these days a lot of countries
                have implemented legislative and regulatory acts that require website owners to ask users to consent to
                the collection of their data. One of these is Directive 2002/58/EC of the European Parliament and of the
                Council. It’s why you so often see little windows asking you to allow cookies.
                <br><br>
            </p>
            <h1>Accept all</h1>
            <p>In an effort to get to whatever brought them to the website, users may click OK or Accept immediately — so they can close that annoying window, even if it means allowing who-knows-who to collect who-knows-what information. Some people may carefully read that notification, but far fewer take the next step and configure the site’s cookies.
                <br><br>
                Developers tend to encourage users to click the Accept all option, making that button big and bright, and its companion, Customize settings, less noticeable. The attempts by some websites to complicate cookie management have already drawn the attention of privacy advocates.
                <br><br></p>
    </section>