<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cyber.css">
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/phone.css">
    <link rel="stylesheet" href="../static/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js"></script>
    <script defer src="../static/activePage.js"></script>
    <!-- <link rel="stylesheet" href="../static/phone.css"> -->
    <title>Cyber</title>
</head>

<body>
    <section id="header">
        <nav id="navbar2f">
            <div class="navheading">
                <img src="../static/BIGLOGO.jpg" alt="">
                <a href="base.html">
                    <h1>PrivacyControl</h1>
                </a>
            </div>
            <div class="head" id="head">
                <ul>
                    <i class="fa-solid fa-xmark" onclick="hideMenu()"></i>

                    <li class="btnn"><a href="base.html">Home</a></li>
                    <li class="btnn"><a href="about.html">About</a></li>
                    <li class="btnn"><a href="service.html">Services </a>
                        <ul>
                            <li><a href="password.html">Password Manager</a></li>
                            <li><a href="index.html">Password Generator</a></li>
                            <li><a href="index1.html">Password Checker</a></li>
                            <li><a href="qr.html">QR Code</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="pages.html">Topics</a>
                        <ul>
                            <li><a href="cyber.html">CyberSecurity</a></li>
                            <li><a href="cyber1.html">Hacking</a></li>
                            <li><a>DataProtection</a>
                                <ul>
                                    <li><a href="cyber2.html">DataBreach</a></li>
                                    <li><a href="cyber2b.html">DataEncryption</a></li>
                                    <li><a href="cyber2c.html">DataDiddling</a></li>
                                    <li><a href="cyber2d.html">DataPhishing</a></li>
                                </ul>
                            </li>
                            <li><a href="privacy.html">Privacy</a></li>
                        </ul>
                    </li>
                    <li class="btnn"><a href="contact.html">Contact</a></li>

                </ul>
            </div>



    </section>
    <script>
        AOS.init();
    </script>
    <script>
        var head = document.getElementById("head")
        function hideMenu() {
            head.style.right = "-200px";
        }
        function showMenu() {
            head.style.right = "92px";
        }
    </script>
    <section>
        <div class="cyber" data-aos="fade-up">
            <h1>Darknet, dark web, deep web, and surface web — what’s the difference?:</h1>
            <p>The terms are sometimes confused; we help unravel the differences.</p>
            <hr style="width: 90%;position: relative; left: 3%;border-top: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
            <br><br>
            <p>
                What associations do the words “deep web” conjure in your mind? A place for godlike hackers where mere
                mortals should fear to tread? A den of iniquity? If so, it may come as a surprise that you use the deep
                web every single day.
                <br><br>
                In fact, although the term deep web is easy to confuse with the similar-sounding dark web and darknet —
                and weirdly, the documentary film Deep Web was in fact about the dark web — we think it’s worth
                untangling the thread.
            </p>
            <h1>Deep web and surface web</h1>
            <p>
                By way of illustration, let’s imagine the Internet as one big city. Like any metropolis, it contains
                public spaces open to everyone, such as the streets, boulevards, and parks you’ll find on the map.
                Anyone can go there and look around; 360-cam cars can see them; and you can easily find them on a map
                such as MapQuest or Google Maps.
                <br><br>
                On the Internet, these public spaces are known as the surface web. They are Web pages, Web applications,
                and other online elements that search bots — digital analogues of cartographers’ cameras — can index.
                They may hold documents, media files, and more. Anyone can find them using a search engine and view them
                without paying, registering, or installing special software.
                <br><br>
                In addition to public areas, cities have private zones that require a pass, ticket, or invitation for
                access. These include homes, business centers, private clubs, cinemas, and so on. Usually, no publicly
                available map will show you what’s going on inside these places.
                <br><br>
                The Web, too, is home to many corners that Google, Bing and others do not peer into. Collectively, such
                places are known as the deep web. They consist primarily of all of the Internet pages that cannot be
                searched and opened by normal means, and bot-cartographers cannot index them.
                <br><br>
                If a site requires you to enter a CAPTCHA for access, then a search bot won’t be able to learn much
                about its contents — the point of a CAPTCHA is to weed out bots, after all. If an article is available
                only by subscription, a bot can’t open and index this article because bots have no accounts or money to
                pay the fee. Reading a document requires a password? Again, no luck for a bot: it doesn’t know a
                password.
                <br><br>
                If something cannot be found, even if it can be opened, then it too belongs to the deep web. If you
                configure Facebook to hide your profile from search engines, for example, then even if a search bot gets
                to it, it will have to ignore it. Nor can a search engine process content that a Web page generates only
                when the page is opened and that varies depending on who opens it. For example, to view personalized
                offers, you have to be a user with certain digital habits.
                <br><br>
                Finally, deep web also refers to all content to which no links exist from the visible or surface web. A
                search bot simply does not know that such content exists; it finds new pages by following links from the
                pages it’s already indexed. Just as a Google Street View car cannot get into a private courtyard, search
                bots cannot come across unlinked content.
                <br><br>
                As you see, the bulk of the deep web is made up of harmless, even useful web pages and documents that
                most of us use. There’s nothing wrong with them being off-limits to outsiders. Quite the opposite.
                <br><br>
            </p>
            <h1>Dark web and darknets</h1>
            <p>
                Both in town and online, privacy is sought not only by upstanding citizens, but also by those looking to
                hide their not entirely legal activities. In the physical world, we think of shady business as taking
                place in slums and criminal dens — places selected for their lack of foot traffic and that are not
                marked on public maps. The addresses and whereabouts of each den are known to a limited circle of
                individuals, although many are aware that they exist somewhere.
                <br><br>
                That is approximately how darknets — restricted-access networks used chiefly for questionable activities
                — operate. The nodes of each individual darknet (servers, computers, routers) are invisible not only to
                search engines, but, because they use nonstandard protocols to transfer data, to most browsers as well.
                Neither a direct link nor a password will get an ordinary user in.
                <br><br>
                Together, darknets make up the dark web — generally considered a haven for murky characters such as drug
                traffickers, arms dealers, extortionists, and sellers of stolen data. Many people know that the dark web
                exists, but few know how to get there.
                <br><br>
                Of course, hackers and criminals aren’t the only people who need secrecy. Dissidents, free speech
                activists, whistleblowers helping investigative journalists, and many more people use the dark web to
                evade persecution and communicate anonymously online. Some people go there for protection from online
                data collection. Secure and affordable tools exist for that purpose, but some prefer a more radical
                approach.
                <br><br>
            </p>
            <h1>All shades of Internet security</h1>
            <p>
                It’s no bad thing for data to be buried deep, invisible to those for whom it is not intended. If, for
                example, corporate correspondence were to find its way into a search index, the consequences could be
                unfortunate. It’s better to protect your portion of the depths — accounts and documents to which only
                you have access.
                <br><br>
                Always use strong and unique passwords. And if you have too many accounts to remember all of them, use a
                password manager to help you keep them under control.<br><br>
                Always confirm you’re exactly where you want to be before entering your credentials online.<br><br>
                For example,
                if the URL is misspelled or looks like a meaningless jumble of letters and numbers, the page is not to
                be trusted.<br><br>
                Give access to confidential documents only to those who really need it.<br><br>
                Avoid the dark web unless you’re completely comfortable telling the difference between a forum for human
                rights activists and one for hackers.<br><br>
                Use a trustworthy security solution that will keep you out of trouble wherever you go online.<br><br>
            </p>
        </div>
    </section>